<div class="bar bar-header bar-light">
  <button class="button button-icon icon ion-ios-arrow-down" ng-click="shrinkPlayer()"></button>
  <h1 class="title">Now Playing</h1>
  <button class="button button-icon icon ion-ios-albums-outline" ng-click="openSource()"></button>
</div>

<ion-content scroll="false" class="has-header has-footer">

  <div class="row row-center">
    <div class="col col-10"></div>
    <div class="col col-80">
      <img ng-src="{{ player.currentTrack.covers.normal }}" width="100%"/>
    </div>
    <div class="col col-10"></div>
  </div>

  <div class="card">
    <div class="item item-text-wrap">
      <h1>{{ player.currentTrack.title }}</h1>

      <h3>{{ player.currentTrack.user.name }}</h3>
    </div>
  </div>

</ion-content>

<div class="bar bar-footer">
  <div class="button-bar">
    <a class="button button-icon icon ion-skip-backward"></a>
    <a class="button button-icon icon ion-pause" ng-if="player.isPlaying" ng-click="pauseTrack()"></a>
    <a class="button button-icon icon ion-play" ng-if="!player.isPlaying" ng-click="resumeTrack()"></a>
    <a class="button button-icon icon ion-skip-forward"></a>
  </div>
</div>
